---
pagination: 
    data: contentfulBlogs
    size: 1
    alias: blog
    addAllPagesToCollection: true
permalink: "{{blog.slug}}/"
tag: "blog"
layout: layout.liquid

eleventyComputed:
    title: "{{blog.title}}"
---

<div class="prose prose-xd p-12">
    <h1>{{blog.title}}</h1>
    <div>{{blog.content | documentToHtmlString}}</div>
</div>